body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
     /* Remove default body margin and prevent scrollbars */
}

img {
    width: 70vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
     /* Ensure the image covers the entire container */
     /* Fix the image position so it doesn't scroll with the page */
    top: 0;
    left: 0;
    border: black;
    border: 5px solid;
}

